// COLORS
$primary-color: #a90808;
$secondary-color: #e90a0a;

$white-color: #fff;

$dark-grey: #442514;

$dark-blue-text: #36110e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
